*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* footer support */
  position: relative;
  min-height: 100%;
}

body {
  /* background-image: url("../images/sandTrooperStarWars.jpg"); */
  background: linear-gradient(rgba(161, 161, 161, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/rockPaperScissorsBackground.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  /* footer support */
  margin-bottom: 100px;
}

/* Heading Tag */
h1 {
  color: #211e1e;
  font-family: "Knewave", cursive;
  font-size: 2.5em;
  text-shadow: 3px 3px #ffe8b9;
}

h2 {
  font-family: "Squada One", cursive;
  font-size: 2em;
  text-shadow: 1px 1px #ffe8b9;
}

h3 {
  font-size: 1.5em;
}

/* Paragraph Tag */
h3,
p {
  font-weight: 300;
  font-family: "Squada One", cursive;
}

p {
  font-size: 1.3em;
}

a:visited { 
  text-decoration: none; 
  color: white;
 }
a:link { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }





/* Background Colors */

/* Flexbox */
.flex-container1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  text-align: center;
  align-items: center;
}

/* Grid Container */
.grid-container1 {
  display: grid;
  grid-template-columns: 285px;
  grid-template-rows: 260px;
  text-align: center;
  justify-content: center;
}


.container {
  width: 100%;
  height: 100%;   
  display: flex;
  justify-content: center;
}


.bottomcontainer {
  display: none;
  color: white;
  width: 100%;
  text-align: center;
}



.winninglogodiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.winninglogo {
  display: none;
  text-align: center;
  height: 100px;
  width: 100px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;

  align-items: center;
  justify-content: center;

  gap: 10px;
  width: 100%;
  padding: 10px;

  background-color: #211e1e;
  color: white;
}

.copyright {
  color: white;
  padding: 0.5em;
}

.titlePadding {
  margin: 2em;
}

/* Button */
.myButton {
  box-shadow: 3px 4px 0px 0px #f4dfba;
  background: linear-gradient(to bottom, #ca975c 5%, #876445 100%);
  background-color: #ca975c;
  border-radius: 5px;
  border: 1px solid #eec373;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;

  margin-top: 2em;
  padding: 12px 44px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #000000;
}
.myButton:hover {
  background: linear-gradient(to bottom, #876445 5%, #ca975c 100%);
  background-color: #876445;
}
.myButton:active {
  position: relative;
  top: 1px;
}




/* Code Inspiration Guide */

.gamecontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}


.bottomContainer {
  display: none;
  color: white;
  width: 100%;
  text-align: center;
}

/* It made the Mobile Column View */
.playercontainer {
  background-color: #a3866e;
  border-radius: 10px;
  /* text-transform: uppercase; */
  font-weight: bold;
  margin: 1em;
  width: 300px;
  height: 250px;
}

/* Tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Heading Tag */
  h1 {
    font-size: 3.5em;
    text-shadow: 4px 4px #ffe8b9;
  }

  h3 {
    font-size: 2em;
  }


  p {
    font-size: 1.7em;
  }

  .titlePadding {
    margin-right: 8em;
    margin-left: 8em;
  }

  .playercontainer {
    width: 380px;
    height: 280px;
  }
}


/* Desktop */
@media only screen and (min-device-width: 1025px) {
  /* Heading Tag */
  h1 {
    font-size: 5em;
    text-shadow: 4px 4px #ffe8b9;
  }

  h3 {
    font-size: 2em;
  }

  p {
    font-size: 1.7em;
  }

  .playercontainer {
    width: 430px;
    height: 320px;
    margin: 1.3em;
  }
}



.playerh2 {
  text-align: center;
  margin-top: 0.3em;
}

.playerinformation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.8em;
}

.playerlogo {
  margin-right: 1vw;
}

.logo {
  height: 50px;
  width: 50px;
}

.playerscore {
  color: white;
}

/* Tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .playerinformation {
    margin-top: 1.2em;
  }

  .logo {
    height: 3.5em;
    width: 3.5em;
  }
}

/* Desktop */
@media only screen and (min-device-width: 1025px) {
  .playerinformation {
    margin-top: 1.2em;
  }

  .logo {
    height: 5em;
    width: 5em;
  }
}



.gameselections {
  display: flex;
  justify-content: center;
  margin: 0.4em;
}

/* Game Button */
.gameselections {
  display: flex;
  justify-content: center;
}

.gameselection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffe8b9;
  border-radius: 10px;
  width: 100px;
  height: 115px;
  margin: 5px;
  border-radius: 3px;
  box-shadow: 4px 5px 0px #211e1e;
  border-bottom: 2px solid;
  border-right: 1px solid;
  transform: translate(-1%, -3%);
  color: #211e1e;
}

.gameselection:hover {
  background-color: #fff2d8;
  box-shadow: 3px 3px 1px;
  border-bottom: 2px solid;
  transform: translate(1%, -1%);
  transition: all 0.1s ease-in;
}

.gameselection:active {
  box-shadow: none;
  transform: translate(3px, 4px);
}

.gameselectiontext {
  margin-top: 1em;
  text-transform: uppercase;
  font-weight: bold;
}

.selection {
  margin-top: 0.4em;
  height: 50px;
  width: 50px;
}

/* Tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .gameselections {
    margin-top: 1em;
  }

  .gameselection {
    width: 120px;
    height: 120px;
  }
}


/* Desktop */
@media only screen and (min-device-width: 1025px) {
  .gameselections {
    margin-top: 1em;
  }

  .gameselection {
    width: 120px;
    height: 120px;
    margin: 8px;
  }
}

